node_modules/
dist/
dist-ssr/
*.local

### Env ###
.env
.env.local
.env.*.local

### Editor ###
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Logs ###
*.log

### Build cache ###
.cache/
.parcel-cache/
coverage/

### OS ###
.DS_Store
Thumbs.db

### TypeScript ###
*.tsbuildinfo
